<form id="detail-studiengang">
    <label for="inputAlias">Kurzbezeichnung</label>
    <input id="inputAlias" type="text" name="alias" value="#context === null ? '' : context.alias#"/>
    <label for="inputName">Name</label>
    <input id="inputName" type="text" name="name" value="#context === null ? '' : context.name#"/>
    <label for="inputSemesters">Regelstudienzeit (Semester)</label>
    <input id="inputSemesters" type="number" name="semesters" value="#context === null ? '' : context.semesters#" min="0" max="14" step="1"/>
    <hr>
    <button data-action="back">zurück</button>
    @if window.user == "ADMIN"@
        <button data-action="save">speichern</button>
    @endif@
</form>