<form id="detail-modul">
    <label for="inputAlias">Kurzbezeichnung</label>
    <input id="inputAlias" type="text" name="alias" value="#context === null ? '' : context.alias#"/>
    <label for="inputName">Name</label>
    <input id="inputName" type="text" name="name" value="#context === null ? '' : context.name#"/>
    <label for="inputCourseCount">Anzahl SWS</label>
    <input id="inputCourseCount" type="number" name="coursecount" value="#context === null ? '' : context.coursecount#" min="0" max="24" step="1"/>
    <label for="inputCrditpoints">Kreditpunkte</label>
    <input id="inputCrditpoints" type="number" name="creditpoints" value="#context === null ? '' : context.creditpoints#" min="0" max="24" step="1"/>
    <hr>
    <button data-action="back">zurück</button>
    @if window.user == "ADMIN"@
    <button data-action="save">speichern</button>
    @endif@
</form>