<table id="list-lehrveranstaltung">
    <thead>
        <tr>
            <th>Lehrveranstaltung</th>
            <th>Modul</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        @for r = 0; r < context.list.length; r++@
            @var row = context.list[r];@
            <tr id="lehrveranstaltung-#context.studiengang_id#-#row.module.id#" data-modul_id="#row.module.id#">
                <td>#row.name#</td>
                <td>#row.module.name#</td>
                <td>#row.semester#</td>
            </tr>
        @endfor@
    </tbody>
    <tfoot>
        <tr>
            <td>
                <button data-action="add" data-template="detail-studiengang" data-action-path="/studiengang">hinzufügen</button>
                <button data-action="edit" data-template="detail-studiengang">bearbeiten</button>
                <button data-action="delete">löschen</button>
                <button data-action="back">zurück</button>
            </td>
        </tr>
    </tfoot>
</table>