<table id="list-studiengang">
    <thead>
        <tr>
            <th>Kurzbezeichnung</th>
            <th>Name</th>
            <th>Regelstudienzeit (Semester)</th>
        </tr>
    </thead>
    <tbody>
        @for r = 0; r < context.length; r++@
            @var row = context[r];@
            <tr id="studiengang-#row.id#" data-id="#row.id#">
                <td>#row.alias#</td>
                <td>#row.name#</td>
                <td>#row.semesters#</td>
            </tr>
        @endfor@
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @if window.user == "ADMIN"@
                    <button data-action="list-modul">Module</button>
                    <button data-action="add">hinzufügen</button>
                    <button data-action="edit">bearbeiten</button>
                    <button data-action="show-modulhandbuch">Modulhandbuch</button>
                    <button data-action="list-lehrveranstaltung">Lehrveranstaltungen</button>
                    <button data-action="delete">löschen</button>
                @elseif window.user == "MODULE_ADMIN"@
                    <button data-action="list-modul">Module</button>
                    <button data-action="show">anzeigen</button>
                    <button data-action="show-modulhandbuch">Modulhandbuch</button>
                    <button data-action="list-lehrveranstaltung">Lehrveranstaltungen</button>
                @else@
                    <button data-action="show">anzeigen</button>
                    <button data-action="show-modulhandbuch">Modulhandbuch</button>
                @endif@
            </td>
        </tr>
    </tfoot>
</table>