<table id="idList">
    <thead>
        <tr>
            <th>Kurzbezeichnung</th>
            <th>Name</th>
            <th>Regelstudienzeit (Semester)</th>
        </tr>
    </thead>
    <tbody>
        @for r = 0; r < context.length; r++@
            @var row = context[r];@
            <tr id="studiengang-#row.id#" data-id="#row.id#">
                <td>#row.alias#</td>
                <td>#row.name#</td>
                <td>#row.semesters#</td>
            </tr>
        @endfor@
    </tbody>
    <tfoot>
        <tr>
            <td>
                @if window.user == "ADMIN"@
                    <button data-action="add" data-template="detail-studiengang" data-action-path="/studiengang">add</button>
                    <button data-action="edit" data-template="detail-studiengang">edit</button>
                    <button data-action="delete">delete</button>
                @else@
                    <button data-action="edit" data-template="detail-studiengang">show</button>
                @endif@
                <button data-action="edit" data-template="modulhandbuch" data-action-path="/modulhandbuch/%id%">module</button>
            </td>
        </tr>
    </tfoot>
</table>